header form {
  margin-bottom: 0;
}

header .mdl-radio,
header .mdl-button {
  margin-left: 24px;
}

.mdl-layout__drawer nav {
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.mdl-layout__drawer {
  box-shadow: none;
  border-right: none;
}

#container a {
  text-decoration: none;
}

#container a:hover {
  text-decoration: underline;
}

#container .mdl-card {
  display: inline-block;
}

#container .mdl-card__actions .mdl-progress {
  margin-top: 8px;
}

#container .closed .mdl-progress>.progressbar {
  background-color: #4caf50;
}

table td {
  white-space: normal;
}

@media screen and (max-width: 1024px) {
  .mdl-layout__header {
    display: inherit;
  }
  header .mdl-layout-title {
    display: none;
  }
  header .mdl-layout__header-row {
    padding-left: 0;
  }
  header .mdl-radio,
  header .mdl-button {
    margin-left: 8px;
  }
}
